*.swp

bazel-*

# KiCad
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*-backups/
\#auto_saved_files\#
*.lck

# Local settings
*.kicad_prl
*.kicad_dru

# Temporary and Lock files
*.lck
*.lock
fp-info-cache

# Generated output folders (Keep repo clean)
/gerbers/
/bom/

# --- Python & System ---
__pycache__/
*.py[cod]
.DS_Store
Thumbs.db

!parts/schematic/oem/